@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.bold li:nth-child(1):hover::after{
    content: url(imagem/pyy.png);
}
.bold li:nth-child(2):hover::after{
    content: url(imagem/sql.png);
}
.bold li:nth-child(3):hover::after{
    content: url(imagem/airflow.png);
}
.bold li:nth-child(4):hover::after{
    content: url(imagem/whale.png);
}
.bold li:nth-child(5):hover::after{
    content: url(imagem/bash.png);
}
.bold li:nth-child(6):hover::after{
    content: url(imagem/power-bi.png);
}
.bold li:nth-child(7):hover::after{
    content: url(imagem/excel.png);
}
.bold li:nth-child(8):hover::after{
    content: url(imagem/aws.png);
}
.bold li:nth-child(9):hover::after{
    content: url(imagem/linux.png);
}
.bold li:nth-child(10):hover::after{
    content: '  ♦'
}
.bold li:nth-child(11):hover::after{
    content: '  ♦'
}
.bold li:nth-child(12):hover::after{
    content: url(imagem/usa.png);
}
.bold li:nth-child(13):hover::after{
    content: url(imagem/spanish.png);
}

body{
    background-color: rgb(83, 83, 83);
}
main{
    max-width: 800px;
    background-color: white;
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.507);
}
a{
    text-decoration: none;
    color: rgb(233, 233, 233);
}
a:hover{
    text-decoration: underline;
}
.conteiner1{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(141, 140, 140);
    width: 30%;
    padding: 30px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url(imagem/ba.jpg);
}
.leftbox{
    min-width: 100px;
}
.leftbox h3{
    margin-top: 15px;
    margin-bottom: 15px;   
    font-size:  0.95em;   
}
.leftbox p{
    text-align: justify;
    color: rgb(233, 233, 233);
    font-size: 0.9em;      
}
.leftbox li{
    list-style: none;
    color: rgb(233, 233, 233);
    font-size: 0.9em;
    min-width: 80px;      
}
.bold li:hover{
    font-weight: bold;
}
.conteiner2{
    background-color: rgb(255, 255, 255);
    width: 70%; 
    padding: 30px;
    background-image: url(imagem/bgw.jpg);
}
.botão{
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1em
}
.botão:hover{
    cursor: pointer;
}
.rightbox h1{
    font-weight: normal;
    font-size: 1.9em;
    margin-bottom: 10px;
    margin-top: 30px;
}
#work{
    font-weight: normal;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
}
.rightbox h3{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 12px;
}
.rightbox h5{
    color: rgb(163, 162, 162);
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
}
.rightbox h6{
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rightbox li{
    font-size: .8em;
    list-style: none;
    line-height: 20px;
}
.sec{
    margin-top: 30px;
    margin-bottom: 30px;
}
section{
    background-image: url();
}
section > h2{
    text-align: center;
    padding: 60px;
}
section > h3{
    text-align: center;
    padding: 60px;
}
.popup{
    color: white;
    background-image: url(imagem/bg.jpg);
}
.popup > div{
    padding: 10px;
    text-align: right;
}
.botão2{
    background-color: transparent;
    color: white;
    border: none;
}
.botão2:hover{
    cursor: pointer;
    color: red;
}
@media (max-width: 680px){
    main{
        display: flex;
        width: 95vw;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0px;
        margin: auto;
        align-items: center; 
        border-radius: 0px 0px 0px 0px;
        box-shadow: none;
        background-color: transparent;
    }
    .conteiner1{
        display: block;
        width: 85%;   
        margin: 0;
        border: 2px solid gray;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 20px;
    }
    .conteiner2{
        display: block;
        margin: 0;
        width: 85%;
        border: 2px solid gray;
        border-radius: 5px 5px 0px 0px;
        margin-top: 10px;
    }
    .rightbox h1{
        text-align: center; 
    }
}